@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono-Italic-VariableFont';
    src: url('../fonts/RobotoMono-Italic-VariableFont_wght.woff') format('woff2'),
         url('../fonts/RobotoMono-VariableFont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HachiMaruPop-Regular';
    src: url('../fonts/HachiMaruPop-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.hidden
{
	display: none;
}

.container
{
	width: 980px;
	margin: 0 auto;
	background-color: #fff;
}

.hero
{
	float: left;
	height: 384px;
	width: 980px;
	background: url(../images/4_drinks.jpg) no-repeat bottom;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 25px;
}

#descText
{
	float: right;
	font-size: 21px;
	margin-bottom: 30px;
	width: 340px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 25px;
}

#PilsnerContainer
{
	font-size: 21px;
	margin-bottom: 30px;
	width: 340px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 25px;
}

#Pilsner
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: 30px;
}

h1, h2
{
	font-family: 'Oswald', sans-serif;
}

h1
{
	font-size: 60px;
	font-weight: 700;
	margin-top: 25px;
}

h2
{
	font-size: 50px;
	font-weight: 200;
	margin-top: 10px;
}

h4
{
	font-family: 'HachiMaruPop-Regular', sans-serif;
}



h3
{
	font-family: 'RobotoMono-Italic-VariableFont', sans-serif;
}

h5, h6
{
	font-family: 'alex_brushregular', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 20px;
	margin-left: 100px;
}

h4
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 20px;
	margin-left: 100px;
}